*{
    font-family: 'Amatic SC', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Heebo', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif !important; 
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
  
:root {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

html{
    width: 100%;
    
}
body{
    width: 100% !important; 
    padding: 5px;
    background-color: #23232e;
}
